<a href="https://colab.research.google.com/github/andrevictorm/PROJETOS/blob/main/Mini_Projeto_Final_Parte1_Nivel_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Habilitando o Google drive para importar o arquivo
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Importando a base de dados "Marketing Compaign", usando o separador ","
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/marketing_compaign.csv", sep=",")
df

In [ ]:
#verificando os tipos das colunas
df.dtypes

ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

In [ ]:
#Renomeando as colunas para realizar tradução
df.rename(columns={'MntWines': 'MntVinho','MntFruits':'MntFruta','MntMeatProducts':'MntCarne','MntFishProducts':'MntPeixe','MntSweetProducts':'MntDoce','MntGoldProds':'MntOuro','NumDealsPurchases':'NumCompraPromocao','NumWebPurchases':'NumCompraWeb','NumCatalogPurchases':'NumCompraCatalogo','NumStorePurchases':'NumCompraLoja','NumWebVisitsMonth':'NumVisitaWebMes'}, inplace=True)

In [ ]:
#Renomeando as colunas para realizar tradução
df.rename(columns={'Education': 'Educaçao','Year_Birth':'ano_nascimento','Marital_Status':'estado_civil','Income':'renda','Kidhome':'crianca_casa','Teenhome':'jovem_casa','Dt_Customer':'Dt_cliente','Recency':'recencia'}, inplace=True)

In [ ]:
#Verificando os valores da coluna
sorted(pd.unique(df['Educaçao']))

['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD']

In [ ]:
#Renomeando valores para realizar tradução
df.loc[df.Educaçao == "Graduation" , ['Educaçao']] = 'Graduacao'

In [ ]:
#Renomeando valores para realizar tradução
df.loc[df.Educaçao == "2n Cycle" , ['Educaçao']] = '2º ano'

In [ ]:
#Renomeando valores para realizar tradução
df.loc[df.Educaçao == "Basic" , ['Educaçao']] = 'Basico'

In [ ]:
#Renomeando valores para realizar tradução
df.loc[df.Educaçao == "Master" , ['Educaçao']] = 'Mestre'

In [ ]:
#Verificando os valores da coluna
sorted(pd.unique(df['estado_civil']))

['Absurd',
 'Alone',
 'Divorced',
 'Married',
 'Single',
 'Together',
 'Widow',
 'YOLO']

Identificado valores estranhos como "absurd","Together" e "YOLO". Não dropar

In [ ]:
#Renomeando valores para realizar tradução
df.loc[df.estado_civil == "Absurd" , ['estado_civil']] = 'Absurda'

In [ ]:
#Renomeando valores para realizar tradução

df.loc[df.estado_civil == "Alone" , ['estado_civil']] = 'Sozinho'

In [ ]:
#Renomeando valores para realizar tradução

df.loc[df.estado_civil == "Divorced" , ['estado_civil']] = 'Divorciado'

In [ ]:
#Renomeando valores para realizar tradução

df.loc[df.estado_civil == "Married" , ['estado_civil']] = 'Casado'

In [ ]:
#Renomeando valores para realizar tradução

df.loc[df.estado_civil == "Single" , ['estado_civil']] = 'Solteiro'

In [ ]:
#Renomeando valores para realizar tradução

df.loc[df.estado_civil == "Together" , ['estado_civil']] = 'Juntado'

In [ ]:
#Renomeando valores para realizar tradução

df.loc[df.estado_civil == "Widow" , ['estado_civil']] = 'Viuvo'

In [ ]:
#Drop de coluna que não vou utilizar por não achar sentido manter ela
df.drop(columns='AcceptedCmp3', inplace=True)

In [ ]:
#Drop de coluna que não vou utilizar por não achar sentido manter ela
df.drop(columns='AcceptedCmp4', inplace=True)

In [ ]:
#Drop de coluna que não vou utilizar por não achar sentido manter ela
df.drop(columns='AcceptedCmp5', inplace=True)

In [ ]:
#Drop de coluna que não vou utilizar por não achar sentido manter ela
df.drop(columns='AcceptedCmp1', inplace=True)

In [ ]:
#Drop de coluna que não vou utilizar por não achar sentido manter ela
df.drop(columns='AcceptedCmp2', inplace=True)

In [ ]:
#Drop de coluna que não vou utilizar por não achar sentido manter ela
df.drop(columns='Complain', inplace=True)

In [ ]:
#visualizar dataframe
df

         ID  ano_nascimento   Educaçao  ... Z_CostContact  Z_Revenue  Response
0      5524            1957  Graduacao  ...             3         11         1
1      2174            1954  Graduacao  ...             3         11         0
2      4141            1965  Graduacao  ...             3         11         0
3      6182            1984  Graduacao  ...             3         11         0
4      5324            1981        PhD  ...             3         11         0
...     ...             ...        ...  ...           ...        ...       ...
2235  10870            1967  Graduacao  ...             3         11         0
2236   4001            1946        PhD  ...             3         11         0
2237   7270            1981  Graduacao  ...             3         11         0
2238   8235            1956     Mestre  ...             3         11         0
2239   9405            1954        PhD  ...             3         11         1

[2240 rows x 23 columns]

In [ ]:
#Verificando os valores da coluna crianca_casa

sorted(pd.unique(df['ano_nascimento']))

[1893,
 1899,
 1900,
 1940,
 1941,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996]

 1893,1899,1900 ?

In [ ]:
#Verificando os valores da coluna crianca_casa

sorted(pd.unique(df['crianca_casa']))

[0, 1, 2]

In [ ]:
#Verificando os valores da coluna jovem_casa

sorted(pd.unique(df['jovem_casa']))

[0, 1, 2]

In [ ]:
#Verificando os valores da coluna Dt_cliente

sorted(pd.unique(df['Dt_cliente']))

['01-01-2013',
 '01-01-2014',
 '01-02-2013',
 '01-02-2014',
 '01-03-2013',
 '01-03-2014',
 '01-04-2013',
 '01-04-2014',
 '01-05-2013',
 '01-05-2014',
 '01-06-2013',
 '01-07-2013',
 '01-08-2012',
 '01-08-2013',
 '01-09-2012',
 '01-09-2013',
 '01-10-2012',
 '01-10-2013',
 '01-11-2012',
 '01-11-2013',
 '01-12-2012',
 '01-12-2013',
 '02-01-2013',
 '02-01-2014',
 '02-02-2013',
 '02-02-2014',
 '02-03-2013',
 '02-03-2014',
 '02-04-2013',
 '02-04-2014',
 '02-05-2013',
 '02-05-2014',
 '02-06-2013',
 '02-06-2014',
 '02-07-2013',
 '02-08-2012',
 '02-08-2013',
 '02-09-2012',
 '02-09-2013',
 '02-10-2012',
 '02-10-2013',
 '02-11-2012',
 '02-11-2013',
 '02-12-2012',
 '02-12-2013',
 '03-01-2013',
 '03-01-2014',
 '03-02-2013',
 '03-02-2014',
 '03-03-2013',
 '03-03-2014',
 '03-04-2013',
 '03-04-2014',
 '03-05-2013',
 '03-05-2014',
 '03-06-2013',
 '03-06-2014',
 '03-07-2013',
 '03-08-2012',
 '03-08-2013',
 '03-09-2012',
 '03-10-2013',
 '03-11-2012',
 '03-11-2013',
 '03-12-2012',
 '03-12-2013',
 '04-01-2013',
 '04-01-2014',
 '04-02-2013',
 '04-02-2014',
 '04-03-2013',
 '04-03-2014',
 '04-04-2014',
 '04-05-2013',
 '04-05-2014',
 '04-06-2013',
 '04-06-2014',
 '04-07-2013',
 '04-08-2012',
 '04-08-2013',
 '04-09-2012',
 '04-09-2013',
 '04-10-2012',
 '04-10-2013',
 '04-11-2012',
 '04-11-2013',
 '04-12-2012',
 '04-12-2013',
 '05-01-2013',
 '05-01-2014',
 '05-02-2014',
 '05-03-2013',
 '05-03-2014',
 '05-04-2013',
 '05-04-2014',
 '05-05-2013',
 '05-05-2014',
 '05-06-2014',
 '05-07-2013',
 '05-08-2012',
 '05-08-2013',
 '05-09-2012',
 '05-09-2013',
 '05-10-2012',
 '05-10-2013',
 '05-11-2012',
 '05-11-2013',
 '05-12-2012',
 '05-12-2013',
 '06-01-2013',
 '06-01-2014',
 '06-02-2013',
 '06-02-2014',
 '06-03-2013',
 '06-03-2014',
 '06-04-2013',
 '06-04-2014',
 '06-05-2013',
 '06-05-2014',
 '06-06-2013',
 '06-06-2014',
 '06-07-2013',
 '06-08-2012',
 '06-08-2013',
 '06-09-2012',
 '06-09-2013',
 '06-10-2012',
 '06-10-2013',
 '06-11-2012',
 '06-11-2013',
 '06-12-2012',
 '06-12-2013',
 '07-01-2013',
 '07-01-2014',
 '07-02-2013',
 '07-02-2014',
 '07-03-2013',
 '07-03-2014',
 '07-04-2013',
 '07-04-2014',
 '07-05-2013',
 '07-05-2014',
 '07-06-2014',
 '07-07-2013',
 '07-08-2012',
 '07-08-2013',
 '07-09-2012',
 '07-09-2013',
 '07-10-2012',
 '07-11-2012',
 '07-11-2013',
 '07-12-2012',
 '07-12-2013',
 '08-01-2013',
 '08-02-2013',
 '08-02-2014',
 '08-03-2013',
 '08-03-2014',
 '08-04-2013',
 '08-04-2014',
 '08-05-2013',
 '08-05-2014',
 '08-06-2013',
 '08-06-2014',
 '08-07-2013',
 '08-08-2012',
 '08-08-2013',
 '08-09-2012',
 '08-10-2013',
 '08-11-2012',
 '08-11-2013',
 '08-12-2012',
 '08-12-2013',
 '09-01-2013',
 '09-01-2014',
 '09-02-2013',
 '09-02-2014',
 '09-03-2013',
 '09-03-2014',
 '09-04-2013',
 '09-04-2014',
 '09-05-2013',
 '09-05-2014',
 '09-06-2013',
 '09-06-2014',
 '09-07-2013',
 '09-08-2012',
 '09-08-2013',
 '09-09-2012',
 '09-09-2013',
 '09-10-2012',
 '09-10-2013',
 '09-11-2012',
 '09-11-2013',
 '09-12-2012',
 '09-12-2013',
 '10-01-2013',
 '10-01-2014',
 '10-02-2013',
 '10-02-2014',
 '10-03-2013',
 '10-03-2014',
 '10-04-2013',
 '10-04-2014',
 '10-05-2013',
 '10-05-2014',
 '10-06-2013',
 '10-06-2014',
 '10-08-2012',
 '10-08-2013',
 '10-09-2012',
 '10-09-2013',
 '10-10-2012',
 '10-10-2013',
 '10-11-2012',
 '10-11-2013',
 '10-12-2012',
 '10-12-2013',
 '11-01-2013',
 '11-01-2014',
 '11-02-2013',
 '11-02-2014',
 '11-03-2013',
 '11-03-2014',
 '11-04-2013',
 '11-04-2014',
 '11-05-2013',
 '11-05-2014',
 '11-06-2013',
 '11-06-2014',
 '11-07-2013',
 '11-08-2012',
 '11-08-2013',
 '11-09-2012',
 '11-09-2013',
 '11-10-2012',
 '11-10-2013',
 '11-11-2012',
 '11-12-2012',
 '11-12-2013',
 '12-01-2013',
 '12-01-2014',
 '12-02-2013',
 '12-02-2014',
 '12-03-2013',
 '12-03-2014',
 '12-04-2013',
 '12-04-2014',
 '12-05-2013',
 '12-05-2014',
 '12-06-2013',
 '12-06-2014',
 '12-07-2013',
 '12-08-2012',
 '12-08-2013',
 '12-09-2012',
 '12-09-2013',
 '12-10-2012',
 '12-10-2013',
 '12-11-2012',
 '12-11-2013',
 '12-12-2012',
 '12-12-2013',
 '13-01-2013',
 '13-01-2014',
 '13-02-2013',
 '13-02-2014',
 '13-03-2014',
 '13-04-2013',
 '13-04-2014',
 '13-05-2013',
 '13-05-2014',
 '13-06-2013',
 '13-06-2014',
 '13-07-2013',
 '13-08-2012',
 '13-08-2013',
 '13-09-2013',
 '13-10-2012',
 '13-10-2013',
 '13-11-2012',
 '13-11-2013',
 '13-12-2013',
 '14-01-2013',
 '14-01-2014',
 '14-02-2013',
 '14-02-2014',
 '14-03-2013',
 '14-04-2013',
 '14-04-2014',
 '14-05-2013',
 '14-06-2013',
 '14-06-2014',
 '14-07-2013',
 '14-08-2012',
 '14-08-2013',
 '14-09-2012',
 '14-09-2013',
 '14-10-2012',
 '14-10-2013',
 '14-11-2012',
 '14-11-2013',
 '14-12-2012',
 '14-12-2013',
 '15-01-2013',
 '15-01-2014',
 '15-02-2013',
 '15-02-2014',
 '15-03-2013',
 '15-04-2013',
 '15-04-2014',
 '15-05-2013',
 '15-05-2014',
 '15-06-2014',
 '15-07-2013',
 '15-08-2012',
 '15-08-2013',
 '15-09-2012',
 '15-09-2013',
 '15-10-2012',
 '15-10-2013',
 '15-11-2013',
 '15-12-2012',
 '15-12-2013',
 '16-01-2013',
 '16-02-2013',
 '16-02-2014',
 '16-03-2013',
 '16-03-2014',
 '16-04-2013',
 '16-04-2014',
 '16-05-2013',
 '16-05-2014',
 '16-06-2013',
 '16-06-2014',
 '16-07-2013',
 '16-08-2012',
 '16-08-2013',
 '16-09-2013',
 '16-10-2012',
 '16-10-2013',
 '16-11-2012',
 '16-12-2012',
 '16-12-2013',
 '17-01-2013',
 '17-01-2014',
 '17-02-2013',
 '17-02-2014',
 '17-03-2013',
 '17-03-2014',
 '17-04-2013',
 '17-04-2014',
 '17-05-2013',
 '17-05-2014',
 '17-06-2013',
 '17-06-2014',
 '17-07-2013',
 '17-08-2012',
 '17-08-2013',
 '17-09-2012',
 '17-09-2013',
 '17-10-2012',
 '17-10-2013',
 '17-11-2012',
 '17-11-2013',
 '17-12-2012',
 '17-12-2013',
 '18-01-2014',
 '18-02-2013',
 '18-02-2014',
 '18-03-2013',
 '18-03-2014',
 '18-04-2013',
 '18-04-2014',
 '18-05-2013',
 '18-05-2014',
 '18-06-2013',
 '18-06-2014',
 '18-07-2013',
 '18-08-2012',
 '18-08-2013',
 '18-09-2012',
 '18-09-2013',
 '18-10-2012',
 '18-10-2013',
 '18-11-2012',
 '18-11-2013',
 '18-12-2012',
 '18-12-2013',
 '19-01-2013',
 '19-01-2014',
 '19-02-2013',
 '19-02-2014',
 '19-03-2013',
 '19-03-2014',
 '19-04-2013',
 '19-04-2014',
 '19-05-2013',
 '19-05-2014',
 '19-06-2013',
 '19-06-2014',
 '19-07-2013',
 '19-08-2012',
 '19-08-2013',
 '19-09-2012',
 '19-09-2013',
 '19-10-2012',
 '19-10-2013',
 '19-11-2012',
 '19-11-2013',
 '19-12-2012',
 '19-12-2013',
 '20-01-2013',
 '20-02-2013',
 '20-03-2013',
 '20-03-2014',
 '20-04-2013',
 '20-04-2014',
 '20-05-2013',
 '20-06-2013',
 '20-06-2014',
 '20-07-2013',
 '20-08-2012',
 '20-08-2013',
 '20-09-2012',
 '20-09-2013',
 '20-10-2012',
 '20-10-2013',
 '20-11-2012',
 '20-11-2013',
 '20-12-2012',
 '20-12-2013',
 '21-01-2013',
 '21-01-2014',
 '21-02-2013',
 '21-03-2013',
 '21-03-2014',
 '21-04-2013',
 '21-04-2014',
 '21-05-2013',
 '21-06-2013',
 '21-06-2014',
 '21-07-2013',
 '21-08-2012',
 '21-08-2013',
 '21-09-2012',
 '21-09-2013',
 '21-10-2012',
 '21-10-2013',
 '21-11-2012',
 '21-11-2013',
 '21-12-2012',
 '21-12-2013',
 '22-01-2013',
 '22-01-2014',
 '22-02-2013',
 '22-02-2014',
 '22-03-2013',
 '22-03-2014',
 '22-04-2013',
 '22-04-2014',
 '22-05-2013',
 '22-05-2014',
 '22-06-2013',
 '22-06-2014',
 '22-07-2013',
 '22-08-2012',
 '22-08-2013',
 '22-09-2012',
 '22-09-2013',
 '22-10-2012',
 '22-10-2013',
 '22-11-2012',
 '22-11-2013',
 '22-12-2012',
 '22-12-2013',
 '23-01-2013',
 '23-01-2014',
 '23-02-2013',
 '23-02-2014',
 '23-03-2013',
 '23-03-2014',
 '23-04-2013',
 '23-04-2014',
 '23-05-2013',
 '23-05-2014',
 '23-06-2013',
 '23-06-2014',
 '23-07-2013',
 '23-08-2012',
 '23-08-2013',
 '23-09-2012',
 '23-09-2013',
 '23-10-2012',
 '23-10-2013',
 '23-11-2012',
 '23-11-2013',
 '23-12-2012',
 '23-12-2013',
 '24-01-2013',
 '24-01-2014',
 '24-02-2014',
 '24-03-2013',
 '24-03-2014',
 '24-04-2013',
 '24-04-2014',
 '24-05-2013',
 '24-05-2014',
 '24-06-2013',
 '24-06-2014',
 '24-07-2013',
 '24-08-2012',
 '24-08-2013',
 '24-09-2012',
 '24-09-2013',
 '24-10-2012',
 '24-10-2013',
 '24-11-2012',
 '24-12-2012',
 '24-12-2013',
 '25-01-2013',
 '25-01-2014',
 '25-02-2013',
 '25-02-2014',
 '25-03-2013',
 '25-03-2014',
 '25-04-2013',
 '25-04-2014',
 '25-05-2013',
 '25-05-2014',
 '25-06-2013',
 '25-06-2014',
 '25-07-2013',
 '25-08-2012',
 '25-08-2013',
 '25-09-2012',
 '25-09-2013',
 '25-10-2012',
 '25-10-2013',
 '25-11-2012',
 '25-11-2013',
 '25-12-2012',
 '25-12-2013',
 '26-01-2013',
 '26-01-2014',
 '26-02-2013',
 '26-02-2014',
 '26-03-2013',
 '26-03-2014',
 '26-04-2014',
 '26-05-2013',
 '26-05-2014',
 '26-06-2013',
 '26-06-2014',
 '26-07-2013',
 '26-08-2012',
 '26-08-2013',
 '26-09-2012',
 '26-09-2013',
 '26-10-2012',
 '26-10-2013',
 '26-11-2012',
 '26-11-2013',
 '26-12-2012',
 '26-12-2013',
 '27-01-2013',
 '27-01-2014',
 '27-02-2013',
 '27-02-2014',
 '27-03-2013',
 '27-03-2014',
 '27-04-2013',
 '27-04-2014',
 '27-05-2013',
 '27-05-2014',
 '27-06-2013',
 '27-06-2014',
 '27-07-2013',
 '27-08-2012',
 '27-08-2013',
 '27-09-2012',
 '27-09-2013',
 '27-10-2012',
 '27-10-2013',
 '27-11-2012',
 '27-11-2013',
 '27-12-2012',
 '27-12-2013',
 '28-01-2014',
 '28-02-2013',
 '28-02-2014',
 '28-03-2013',
 '28-03-2014',
 '28-04-2013',
 '28-04-2014',
 '28-05-2013',
 '28-05-2014',
 '28-06-2013',
 '28-06-2014',
 '28-07-2013',
 '28-08-2012',
 '28-08-2013',
 '28-09-2012',
 '28-09-2013',
 '28-10-2012',
 '28-10-2013',
 '28-11-2012',
 '28-11-2013',
 '28-12-2012',
 '28-12-2013',
 '29-01-2013',
 '29-01-2014',
 '29-03-2013',
 '29-03-2014',
 '29-04-2013',
 '29-04-2014',
 '29-05-2013',
 '29-05-2014',
 '29-06-2013',
 '29-06-2014',
 '29-07-2013',
 '29-08-2012',
 '29-08-2013',
 '29-09-2012',
 '29-10-2012',
 '29-10-2013',
 '29-11-2012',
 '29-11-2013',
 '29-12-2012',
 '29-12-2013',
 '30-01-2014',
 '30-03-2013',
 '30-03-2014',
 '30-04-2013',
 '30-04-2014',
 '30-05-2013',
 '30-05-2014',
 '30-06-2013',
 '30-07-2012',
 '30-07-2013',
 '30-08-2012',
 '30-08-2013',
 '30-09-2012',
 '30-09-2013',
 '30-10-2012',
 '30-10-2013',
 '30-11-2012',
 '30-11-2013',
 '30-12-2012',
 '30-12-2013',
 '31-01-2013',
 '31-01-2014',
 '31-03-2013',
 '31-03-2014',
 '31-05-2013',
 '31-05-2014',
 '31-07-2012',
 '31-07-2013',
 '31-08-2012',
 '31-08-2013',
 '31-10-2012',
 '31-12-2012',
 '31-12-2013']

In [ ]:
#Verificando os valores da coluna recencia

sorted(pd.unique(df['recencia']))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
#Verificando os valores da coluna MntVinho

sorted(pd.unique(df['MntVinho']))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 115,
 116,
 117,
 120,
 121,
 122,
 123,
 124,
 125,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 138,
 139,
 140,
 141,
 143,
 144,
 145,
 146,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 191,
 192,
 194,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 233,
 234,
 235,
 236,
 238,
 239,
 240,
 241,
 243,
 244,
 245,
 247,
 248,
 249,
 251,
 252,
 254,
 255,
 256,
 258,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 272,
 273,
 274,
 275,
 277,
 279,
 280,
 281,
 283,
 284,
 285,
 288,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 320,
 321,
 322,
 324,
 325,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 335,
 336,
 338,
 340,
 341,
 342,
 344,
 345,
 346,
 347,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 362,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 395,
 397,
 398,
 399,
 400,
 402,
 403,
 404,
 406,
 407,
 408,
 410,
 411,
 412,
 415,
 416,
 418,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 428,
 430,
 431,
 432,
 433,
 434,
 437,
 438,
 440,
 441,
 443,
 444,
 445,
 446,
 447,
 448,
 450,
 451,
 452,
 453,
 454,
 456,
 457,
 458,
 459,
 460,
 462,
 463,
 464,
 465,
 466,
 471,
 473,
 476,
 478,
 479,
 480,
 482,
 483,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 499,
 502,
 503,
 504,
 505,
 507,
 508,
 509,
 510,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 529,
 530,
 531,
 532,
 533,
 534,
 536,
 537,
 538,
 539,
 543,
 544,
 545,
 546,
 547,
 548,
 551,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 565,
 570,
 571,
 572,
 574,
 575,
 576,
 577,
 580,
 581,
 582,
 583,
 584,
 586,
 587,
 588,
 593,
 594,
 595,
 597,
 598,
 600,
 603,
 604,
 605,
 606,
 610,
 611,
 612,
 613,
 614,
 615,
 618,
 619,
 620,
 621,
 622,
 623,
 625,
 626,
 627,
 629,
 630,
 631,
 635,
 637,
 639,
 641,
 642,
 647,
 650,
 652,
 653,
 654,
 656,
 658,
 664,
 666,
 667,
 670,
 671,
 673,
 674,
 675,
 676,
 680,
 684,
 686,
 688,
 689,
 690,
 691,
 693,
 702,
 703,
 704,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 717,
 721,
 722,
 724,
 726,
 728,
 729,
 731,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 741,
 742,
 743,
 746,
 747,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 760,
 763,
 768,
 769,
 770,
 771,
 774,
 777,
 778,
 779,
 783,
 784,
 787,
 789,
 790,
 792,
 794,
 795,
 796,
 797,
 799,
 800,
 801,
 806,
 811,
 812,
 815,
 816,
 817,
 819,
 820,
 822,
 823,
 824,
 825,
 826,
 829,
 830,
 833,
 835,
 836,
 840,
 846,
 847,
 848,
 852,
 853,
 856,
 860,
 861,
 863,
 864,
 866,
 867,
 871,
 879,
 881,
 882,
 888,
 889,
 890,
 895,
 896,
 897,
 899,
 901,
 908,
 909,
 910,
 912,
 913,
 918,
 919,
 920,
 925,
 928,
 931,
 934,
 938,
 940,
 941,
 944,
 948,
 952,
 953,
 957,
 958,
 960,
 962,
 964,
 965,
 966,
 967,
 968,
 972,
 977,
 979,
 980,
 982,
 983,
 984,
 986,
 992,
 995,
 997,
 1000,
 1001,
 1003,
 1004,
 1006,
 1009,
 1012,
 1013,
 1016,
 1017,
 1020,
 1023,
 1032,
 1035,
 1039,
 1043,
 1045,
 1047,
 1048,
 1050,
 1060,
 1063,
 1067,
 1073,
 1074,
 1076,
 1083,
 1090,
 1092,
 1099,
 1103,
 1111,
 1115,
 1121,
 1126,
 1132,
 1142,
 1148,
 1149,
 1156,
 1166,
 1168,
 1170,
 1171,
 1181,
 1184,
 1193,
 1200,
 1205,
 1206,
 1215,
 1218,
 1224,
 1230,
 1239,
 1241,
 1245,
 1248,
 1252,
 1253,
 1259,
 1276,
 1279,
 1285,
 1288,
 1296,
 1298,
 1302,
 1308,
 1311,
 1315,
 1324,
 1332,
 1349,
 1379,
 1394,
 1396,
 1449,
 1459,
 1462,
 1478,
 1486,
 1492,
 1493]

In [ ]:
#Verificando os valores null
df.isna()

         ID  ano_nascimento  Educaçao  ...  Z_CostContact  Z_Revenue  Response
0     False           False     False  ...          False      False     False
1     False           False     False  ...          False      False     False
2     False           False     False  ...          False      False     False
3     False           False     False  ...          False      False     False
4     False           False     False  ...          False      False     False
...     ...             ...       ...  ...            ...        ...       ...
2235  False           False     False  ...          False      False     False
2236  False           False     False  ...          False      False     False
2237  False           False     False  ...          False      False     False
2238  False           False     False  ...          False      False     False
2239  False           False     False  ...          False      False     False

[2240 rows x 23 columns]

In [ ]:
#Verificando os valores null e a quantidade deles

df.isna().sum()

ID                    0
ano_nascimento        0
Educaçao              0
estado_civil          0
renda                24
crianca_casa          0
jovem_casa            0
Dt_cliente            0
recencia              0
MntVinho              0
MntFruta              0
MntCarne              0
MntPeixe              0
MntDoce               0
MntOuro               0
NumCompraPromocao     0
NumCompraWeb          0
NumCompraCatalogo     0
NumCompraLoja         0
NumVisitaWebMes       0
Z_CostContact         0
Z_Revenue             0
Response              0
dtype: int64

In [ ]:
#Salvando dataframe no Google Drive
df.to_csv (r'/content/drive/MyDrive/Colab Notebooks/markting_campeditado.csv', index = None, header=True)